Evidence-based_Rumor_Detection-main/data/test/
Evidence-based_Rumor_Detection-main/data/train/
Evidence-based_Rumor_Detection-main/data/val/
Evidence-based_Rumor_Detection-main/best_two_transformer_model/